vjezbe_2/vjezbe2_1
vjezbe_2/vjezbe2_2
vjezbe_2/vjezbe2_3
vjezbe_2/vjezbe2_4
vjezbe_2/vjezbe2_5

vjezbe_3/vjezbe3_1
vjezbe_3/vjezbe3_2

vjezbe_4/vjezbe4_1
vjezbe_4/vjezbe4_2
vjezbe_4/vjezbe4_3

vjezbe_5/vjezbe5_1
vjezbe_5/vjezbe5_2
vjezbe_5/vjezbe5_3

vjezbe_6/vjezbe6_1
vjezbe_6/vjezbe6_2
vjezbe_6/vjezbe6_3

*.obj
*.ilk
*.pdb
*.exe